<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /suket/

    # Rule untuk root folder subdirectory
    RewriteRule ^$ public/index.php [L]

    # Rule untuk aset dan rute lainnya
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>